<div class="range-slider noUislider {{id}}" [ngClass]="type" *ngIf="isLoading">
    <form [formGroup]="propsForm" autocomplete="nope">
    <div class="range-slider-title">{{ _options.title }}</div>
    <div class="form-group">
        <input type="text" *ngIf="useInputs && type == 'rangeSlider'" [formControl]="propsForm.controls.inputMin" class="input-field input-field--dirty has-placeholder" autocomplete="off" autocapitalize="off" spellcheck="false" autocorrect="off">
    </div>
    <div class="form-group">
        <input type="text" *ngIf="useInputs" [formControl]="propsForm.controls.inputMax" class="input-field input-field--dirty has-placeholder" autocomplete="nope" autocapitalize="off" spellcheck="false" autocorrect="off">
    </div>
    <div class="separators-wrap" *ngIf="fixedTooptips && type == 'rangeSlider'">
        <div class="sepElem"><span [innerHtml]="model[0]"></span></div>
        <div class="sepElem"><span [innerHtml]="model[1]"></span></div>
    </div>
    <div class="separators-wrap" *ngIf="fixedTooptips && type != 'rangeSlider'">
        <div class="sepElem"><span [innerHtml]="model[0]"></span></div>
    </div>
    <nouislider [config]="sliderConfig" [formControl]="propsForm.controls.range"></nouislider>
    <div class="separators-wrap"></div>
    </form>
</div>
