.range-slider {
  width: 100%;
  position: relative;
  padding-right: 1rem;
  margin-bottom: 1rem;

  .range-slider-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  &.range-default {
    .range-body {
      background: #e9e9e9 !important;
    }
  }

  .range-slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 22px;

    .range-slider-value {
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;

      .icon {
        font-size: 12px;
        margin-left: 4px;
      }

      span {
        padding-left: 4px;
      }
    }
  }

  .range-body {
    position: relative;
    height: 5px;
    background: #ededed;
    margin-bottom: 35px;
    width: calc(100% - 38px);
    margin: 0 5%;
    .range-slider-info {
      position: absolute;
      top: -40px;
      left: 0;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      white-space: nowrap;
      color: #fff;

      .icon {
        font-size: 11px;
        margin-left: 5px;
      }
    }
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 19px;
      position: absolute;
      top: 0;
      height: 5px;
    }
    &::before {
      left: -19px;
      background: #e9e9e;
    }
    &::after {
      right: -19px;
      background: #e9e9e9 !important;
    }
  }

  .separators-wrap {
    position: absolute;
    width: calc(100% - 20px);
    height: 1px;
    left: 0;
    bottom: 0;

    .sepElem {
      position: absolute;
      height: 30px;
      bottom: 0.8rem;

      &:after {
        content: "";
        display: block;
        position: absolute;
        //top: 18px;
        height: 10px;
        width: 2px;
        left: 50%;
        margin-left: -1px;
        background: #00805f;
        display: none;
      }

      span {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
      }

      &:nth-of-type(2) {
        left: 0 !important;
        right: 0;
        text-align: right;
        padding-right: 0.5rem;
      }
    }
  }

  &.range-double {
    .range-body {
      &::after {
        background: #e9e9e9 !important;
      }
    }
  }

  .ui-slider-range {
    height: 5px;
    background: #00805f;
    position: absolute;
  }

  .ui-widget-header {
    height: 5px;
    background: #e9e9e9;
    position: absolute;
  }

  .ui-slider-handle {
    display: block;
    position: absolute;
    margin-top: -8px;
    width: 38px;
    height: 20px;
    outline: none;
    margin-left: -19px;
    z-index: 5;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 38px;
      height: 20px;
      border-radius: 2px;
      cursor: pointer;
      top: 0;
      left: 0;
    }
  }
}

//Стили для виджета nouislider

.range-slider.noUislider {
  padding-right: 2rem;
  margin-bottom: 1.5rem;

  .range-slider-title {
    margin-bottom: 3.25rem;
  }
  .noUi-tooltip {
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 300;
    white-space: nowrap;
    background: none;
    border: none;
  }
  .noUi-base {
    .noUi-origin {
      &:nth-of-type(1) {
        .noUi-tooltip {
        }
      }

      &:nth-of-type(2) {
        .noUi-tooltip {
          width: 8rem !important;
          text-align: right !important;
          left: -100%;
        }
      }
    }
  }
  .ng2-nouislider {
    padding-left: 1.25rem;
  }
  .noUi-target {
    height: 0.25rem;
    background: #fbae16;
    border-radius: 0;
    &::before {
      left: -1.15rem;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 1.2rem;
      position: absolute;
      top: 0;
      height: 0.25rem;
    }
  }
  &.rangeSlider {
    .noUi-target::before {
      background: #fbae16;
    }
  }
  &.range-triangle {
    .noUi-tooltip {
      &::after {
        width: 20px !important;
        height: 30px !important;
        background-size: contain !important;
        border-radius: 0 !important;
        box-shadow: none !important;
      }
    }
  }
  &.slider {
    .noUi-target::before {
      background: #00805f;
    }
  }
  .noUi-target,
  .noUi-handle,
  .noUi-base,
  .noUi-connect {
    border: none;
    box-shadow: none;
    outline: none;
  }
  .noUi-base {
    background: #fbae16;
    left: -0.5rem;
  }
  .noUi-connect {
    background: #00805f;
  }
  .noUi-handle {
    width: 1.9rem;
    height: 1rem;
    margin-top: -0.15rem;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1.9rem;
      height: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      border-radius: 0.1rem;
      cursor: pointer;
      top: 0;
      left: 0;
    }
    .icon {
      font-size: 0.6rem;
      margin-left: 0.2rem;
    }
  }
}
