<!--TODO: добавить  анимацию по клику, которая должна идти из Material Design-->
<div class="tabs">
  <div class="tabs-header">
    <ul class="tabs-items">
      <li  *ngFor="let item of data; let i = index;">
        <a href="#"
           (click)="setValue($event, item, i)"
           [ngClass]="{'active': activeNumber === i}"
           class="tab-link">
          {{item.name}}
        </a>
      </li>
    </ul>
    <div class="tabs-description"></div>
  </div>
</div>
