.tabs {
  width: 100%;
  .tabs-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tabs-description {
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #000;
  }

  .tabs-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;

    li {
      .tab-link {
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 16px;
        line-height: 50px;
        height: 50px;
        min-width: 50px;
        color: #000;
        padding: 0 15px;
        background: #ededed;
        border-left: 1px solid #000;

        &:hover,
        &.active {
          color: #fff;
          background: #00805f;
          border-left-color: #000;
        }

        .ripple {
          position: absolute;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.5);
          user-select: none;
          pointer-events: none;
          padding: 0;
          margin: 0;
          opacity: 0.8;
          transform: translate3d(-50%, -50%, 0);
        }

        .icon-tenge {
          position: absolute;
          top: 5px;
          font-size: 22px;
        }

        .icon-dollar {
          position: absolute;
          top: 5px;
          font-size: 22px;
        }

        .icon-euro {
          display: block;
          position: absolute;
          top: 4px;
          right: 15px;
          font-size: 23px;
        }
      }

      &:first-of-type {
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;

        a {
          border-left: none;
        }
      }
    }
  }

  .tab {
    display: none;

    &.active {
      display: block;
    }
  }
}
